WP_BASE_URL=
WP_ADMIN_USER=
WP_ADMIN_PASSWORD=
WP_ADMIN_PATH=/wp-admin
NMKR_DASHBOARD_PATH=/wp-admin/admin.php?page=nmkr-connect-dashboard
NMKR_SETTINGS_PATH=/wp-admin/options-general.php?page=nmkr-connect-settings
RUN_REAL_SYNC=false
PW_SAVE_ARTIFACTS=false
WP_PATH=
WP_CLI_BIN=wp
NMKR_PLUGIN_SLUG=nmkr-connect/nmkr-connect.php
NMKR_DEBUG_LOG_RELATIVE_PATH=wp-content/debug.log
NMKR_DEBUG_LOG_LOOKBACK_MINUTES=30
